{{#isHeaderParam}}
        @javax.ws.rs.HeaderParam("{{baseName}}")
        {{>libraries/server/beanValidationHeaderParams}}
        {{#defaultValue}} @javax.ws.rs.DefaultValue("{{{defaultValue}}}"){{/defaultValue}}
        private {{{dataType}}} {{paramName}};
{{/isHeaderParam}}