{{#isQueryParam}}
        @javax.ws.rs.QueryParam("{{baseName}}")
        {{>beanValidationQueryParams}}
        {{#defaultValue}} @javax.ws.rs.DefaultValue("{{{defaultValue}}}"){{/defaultValue}}
        private {{{dataType}}} {{paramName}};
{{/isQueryParam}}