/**
 {{#description}}* {{{description}}}{{/description}}{{^description}}* Get {{name}}{{/description}}
 *{{#minimum}}
 * minimum: {{minimum}}{{/minimum}}{{#maximum}}
 * maximum: {{maximum}}{{/maximum}}
 * @return {{name}}
 */