{{>classJavadoc}}
{{#discriminator}}{{>typeInfoAnnotation}}{{/discriminator}}
@org.immutables.value.Value.Immutable
@org.immutables.value.Value.Style(
        defaultAsDefault = true,
        validationMethod = org.immutables.value.Value.Style.ValidationMethod.NONE,
        jacksonIntegration = false,
        of = "new",
        allParameters = true,
        passAnnotations = { javax.json.bind.annotation.JsonbProperty.class, javax.json.bind.annotation.JsonbCreator.class},
        jdkOnly = true
){{#additionalAnnotations}}
{{{additionalAnnotations}}}{{/additionalAnnotations}}
{{>generatedAnnotation}}
public abstract class {{classname}} {{#parent}}extends {{{parent}}} {{/parent}}{

    @javax.json.bind.annotation.JsonbCreator
    public {{classname}}(){}

{{#vars}}
    {{#isEnum}}
    {{^isContainer}}
{{>modelInnerEnum}}
    {{/isContainer}}
    {{/isEnum}}
    {{#items.isEnum}}
        {{#items}}
        {{^isContainer}}
{{>modelInnerEnum}}
        {{/isContainer}}
        {{/items}}
    {{/items.isEnum}}
    {{>methodJavadoc}}
    {{>beanValidation}}
    {{#vendorExtensions.extraAnnotation}}
    {{{vendorExtensions.extraAnnotation}}}
    {{/vendorExtensions.extraAnnotation}}
    @javax.json.bind.annotation.JsonbProperty("{{baseName}}")
    public abstract {{#required}}{{{datatypeWithEnum}}} {{getter}}();{{/required}}{{^required}}java.util.Optional<{{{datatypeWithEnum}}}> {{getter}}();{{/required}}

{{/vars}}
}
