package {{package}};

{{#imports}}
import {{import}};
{{/imports}}

{{#operations}}
{{>generatedAnnotation}}
public interface {{classname}}Api { {{#operation}}

    /**
     * {{summary}}
     * {{notes}}
     {{#allParams}}
     * @param {{paramName}} {{description}}{{#required}} (required){{/required}}{{^required}} (optional{{#defaultValue}}, default to {{{.}}}{{/defaultValue}}){{/required}}
     {{/allParams}}
     * @return {@code java.util.concurrent.CompletionStage&lt;javax.ws.rs.core.Response&gt;}
     */
    @org.eclipse.microprofile.metrics.annotation.Timed(name = "{{{httpMethod}}}_{{{path}}}_time", absolute = true, unit = org.eclipse.microprofile.metrics.MetricUnits.NANOSECONDS, displayName = "{{nickname}}", reusable = false, tags = {"action={{classname}}Api.{{nickname}}"}, description = "{{summary}}")
    @org.eclipse.microprofile.metrics.annotation.Counted(name = "{{{httpMethod}}}_{{{path}}}_count", absolute = true, unit = org.eclipse.microprofile.metrics.MetricUnits.NONE, displayName = "{{nickname}}", reusable = false, tags = {"action={{classname}}Api.{{nickname}}"}, description = "{{summary}}")
    @javax.ws.rs.{{httpMethod}}
    @javax.ws.rs.Path("{{{path}}}"){{#hasConsumes}}
    @javax.ws.rs.Consumes({ {{#consumes}}"{{{mediaType}}}"{{#hasMore}}, {{/hasMore}}{{/consumes}} }){{/hasConsumes}}{{#hasProduces}}
    @javax.ws.rs.Produces({ {{#produces}}"{{{mediaType}}}"{{#hasMore}}, {{/hasMore}}{{/produces}} }){{/hasProduces}}
    java.util.concurrent.CompletionStage<javax.ws.rs.core.Response> {{#vendorExtensions.x-name}}{{vendorExtensions.x-name}}{{/vendorExtensions.x-name}}{{^vendorExtensions.x-name}}{{nickname}}{{/vendorExtensions.x-name}}(
        @javax.ws.rs.BeanParam {{operationIdCamelCase}}Params params{{#bodyParams}},{{/bodyParams}}
        {{#bodyParams}}{{>bodyParams}}{{/bodyParams}}
    ) throws javax.ws.rs.WebApplicationException;

        {{>beanParams}}
{{/operation}}
} {{/operations}}