package {{package}};

{{#imports}}
import {{import}};
{{/imports}}

{{#operations}}
{{>generatedAnnotation}}
@javax.enterprise.context.Dependent
@org.eclipse.microprofile.rest.client.inject.RegisterRestClient
@org.eclipse.microprofile.rest.client.annotation.RegisterClientHeaders
public interface {{classname}}RestClient extends java.lang.AutoCloseable { {{#operation}}
    
    /**
     * {{summary}}
     * {{notes}}
     {{#allParams}}
     * @param {{paramName}} {{description}}{{#required}} (required){{/required}}{{^required}} (optional{{#defaultValue}}, default to {{{.}}}{{/defaultValue}}){{/required}}
     {{/allParams}}
     * @return {@code java.util.concurrent.CompletionStage&lt;{{returnType}}&gt;}
     */
    @org.eclipse.microprofile.metrics.annotation.Timed(name = "{{{httpMethod}}}_{{{path}}}", absolute = true, unit = org.eclipse.microprofile.metrics.MetricUnits.NANOSECONDS, displayName = "{{nickname}}", reusable = false, tags = {"action={{classname}}Api.{{nickname}}"}, description = "{{summary}}")
    @org.eclipse.microprofile.metrics.annotation.Counted(name = "{{{httpMethod}}}_{{{path}}}", absolute = true, unit = org.eclipse.microprofile.metrics.MetricUnits.NONE, displayName = "{{nickname}}", reusable = false, tags = {"action={{classname}}Api.{{nickname}}"}, description = "{{summary}}")
    @javax.ws.rs.{{httpMethod}}
    @javax.ws.rs.Path("{{{path}}}"){{#hasConsumes}}
    @javax.ws.rs.Consumes({ {{#consumes}}"{{{mediaType}}}"{{#hasMore}}, {{/hasMore}}{{/consumes}} }){{/hasConsumes}}{{#hasProduces}}
    @javax.ws.rs.Produces({ {{#produces}}"{{{mediaType}}}"{{#hasMore}}, {{/hasMore}}{{/produces}} }){{/hasProduces}}
    java.util.concurrent.CompletionStage<{{{returnType}}}> {{#vendorExtensions.x-name}}{{vendorExtensions.x-name}}{{/vendorExtensions.x-name}}{{^vendorExtensions.x-name}}{{nickname}}{{/vendorExtensions.x-name}}(
        {{#hasParams}}@javax.ws.rs.BeanParam {{operationIdCamelCase}}Params params{{#bodyParams}},{{/bodyParams}}{{/hasParams}}
        {{#bodyParams}}{{>bodyParams}}{{/bodyParams}}
    ) throws javax.ws.rs.WebApplicationException;

        {{>beanParams}}
{{/operation}}
} {{/operations}}