{{#isFormParam}}
        {{#notFile}}@javax.ws.rs.FormParam(value = "{{baseName}}") private {{{dataType}}} {{paramName}};{{/notFile}}
        {{#isFile}}
            @javax.ws.rs.FormParam(value = "additionalMetadata")
            public String additionalMetadata;
            @javax.ws.rs.FormParam(value = "{{baseName}}")
            public java.io.InputStream {{paramName}}InputStream;
        {{/isFile}}
{{/isFormParam}}