{{#isHeaderParam}}
        @javax.ws.rs.HeaderParam("{{baseName}}")
        {{>beanValidationHeaderParams}}
        {{^isContainer}}{{#defaultValue}} @javax.ws.rs.DefaultValue("{{{defaultValue}}}"){{/defaultValue}}{{/isContainer}}
        public {{{dataType}}} {{paramName}};
{{/isHeaderParam}}