{{>classJavadoc}}
{{#discriminator}}{{>typeInfoAnnotation}}{{/discriminator}}{{#additionalAnnotations}}
    {{{additionalAnnotations}}}{{/additionalAnnotations}}
@javax.json.bind.annotation.JsonbPropertyOrder({
{{#vars}}
    {{classname}}.{{jsonbPropertyName}}{{^-last}},{{/-last}}
{{/vars}}
})
{{>generatedAnnotation}}
@io.quarkus.runtime.annotations.RegisterForReflection
public class {{classname}} {{#parent}}extends {{{parent}}} {{/parent}} implements OpenAPIModel {

{{#vars}}
    public static final String {{jsonbPropertyName}} = "{{baseName}}";
{{/vars}}
{{#vars}}
    {{#isEnum}}
        {{^isContainer}}
            {{>modelInnerEnum}}
        {{/isContainer}}
    {{/isEnum}}
    {{#items.isEnum}}
        {{#items}}
            {{^isContainer}}
                {{>modelInnerEnum}}
            {{/isContainer}}
        {{/items}}
    {{/items.isEnum}}
    {{>beanValidation}}
    private {{{fieldType}}} {{name}}{{^required}}{{^isContainer}} = java.util.Optional.empty(){{/isContainer}}{{#isContainer}}{{#defaultValue}} = java.util.Optional.of({{{.}}}){{/defaultValue}}{{/isContainer}}{{/required}};

{{/vars}}

    public {{classname}}() {
    {{#parent}}
        super();
    {{/parent}}
    }

    public {{classname}}(
    {{#vars}}
        final {{{fieldType}}} {{name}}{{^-last}},{{/-last}}
    {{/vars}}
    ) {
    {{#parent}}
        super();
    {{/parent}}
    {{#vars}}
    this.{{name}} = {{name}};
    {{/vars}}
    }
{{#vars}}

    {{>methodJavadoc}}
    {{#vendorExtensions.extraAnnotation}}
        {{{vendorExtensions.extraAnnotation}}}
    {{/vendorExtensions.extraAnnotation}}
    @javax.json.bind.annotation.JsonbProperty({{jsonbPropertyName}})
    public {{{fieldType}}} {{#isBoolean}}is{{/isBoolean}}{{getter}}() {
        return {{name}};
    }

    @javax.json.bind.annotation.JsonbProperty({{jsonbPropertyName}})
    public void {{setter}}({{{fieldType}}} {{name}}) {
        this.{{name}} = {{name}};
    }

{{/vars}}

    @Override
    public boolean equals(java.lang.Object o) {
        if (this == o) {
            return true;
        }
        if (o == null || getClass() != o.getClass()) {
            return false;
        }{{#hasVars}}
        {{classname}} {{classVarName}} = ({{classname}}) o;
        return {{#vars}}{{#isByteArray}}java.util.Arrays{{/isByteArray}}{{#isBinary}}java.util.Objects{{/isBinary}}{{^isByteArray}}{{^isBinary}}java.util.Objects{{/isBinary}}{{/isByteArray}}.equals(this.{{name}}, {{classVarName}}.{{name}}){{#hasMore}} &&
    {{/hasMore}}{{/vars}}{{#parent}} &&
        super.equals(o){{/parent}};{{/hasVars}}{{^hasVars}}
        return {{#parent}}super.equals(o){{/parent}}{{^parent}}true{{/parent}};{{/hasVars}}
    }

    @Override
    public int hashCode() {
        return java.util.Objects.hash({{#vars}}{{^isByteArray}}{{name}}{{/isByteArray}}{{#isByteArray}}java.util.Arrays.hashCode({{name}}){{/isByteArray}}{{#hasMore}}, {{/hasMore}}{{/vars}}{{#parent}}{{#hasVars}}, {{/hasVars}}super.hashCode(){{/parent}});
    }

    @Override
    public String toString() {
        StringBuilder sb = new StringBuilder();
        sb.append("class {{classname}} {\n");
        {{#parent}}sb.append("    ").append(toIndentedString(super.toString())).append("\n");{{/parent}}
        {{#vars}}sb.append("    " + {{jsonbPropertyName}} + ": ").append(toIndentedString({{name}})).append("\n");
        {{/vars}}sb.append("}");
        return sb.toString();
    }

    private String toIndentedString(java.lang.Object o) {
        if (o == null) {
        return "null";
        }
        return o.toString().replace("\n", "\n    ");
    }

    public static Builder builder() {
        return Builder.create();
    }

    {{>builder}}
}
