{{>classJavadoc}}
{{#discriminator}}{{>typeInfoAnnotation}}{{/discriminator}}
@org.immutables.value.Value.Immutable
@org.immutables.value.Value.Style(
    defaultAsDefault = true,
    validationMethod = org.immutables.value.Value.Style.ValidationMethod.NONE,
    jacksonIntegration = false,
    of = "new",
    allParameters = true,
    passAnnotations = {
        javax.json.bind.annotation.JsonbAnnotation.class,
        javax.json.bind.annotation.JsonbCreator.class,
        javax.json.bind.annotation.JsonbDateFormat.class,
        javax.json.bind.annotation.JsonbNillable.class,
        javax.json.bind.annotation.JsonbNumberFormat.class,
        javax.json.bind.annotation.JsonbProperty.class,
        javax.json.bind.annotation.JsonbPropertyOrder.class,
        javax.json.bind.annotation.JsonbTransient.class,
        javax.json.bind.annotation.JsonbTypeAdapter.class,
        javax.json.bind.annotation.JsonbTypeSerializer.class,
        javax.json.bind.annotation.JsonbTypeDeserializer.class,
        javax.json.bind.annotation.JsonbVisibility.class
    },
    jdkOnly = true
){{#additionalAnnotations}}
{{{additionalAnnotations}}}{{/additionalAnnotations}}
@javax.json.bind.annotation.JsonbPropertyOrder({
{{#vars}}
    {{classname}}.{{jsonbPropertyName}}{{^-last}},{{/-last}}
{{/vars}}
})
@javax.json.bind.annotation.JsonbTypeAdapter({{classname}}TypeAdapter.class)
{{>generatedAnnotation}}
public abstract class {{classname}} {{#parent}}extends {{{parent}}} {{/parent}} implements OpenAPIModel {

    {{#vars}}
    public static final String {{jsonbPropertyName}} = "{{baseName}}";
    {{/vars}}

    @javax.json.bind.annotation.JsonbCreator
    public {{classname}}(){}

{{#vars}}
    {{#isEnum}}
    {{^isContainer}}
{{>modelInnerEnum}}
    {{/isContainer}}
    {{/isEnum}}
    {{#items.isEnum}}
        {{#items}}
        {{^isContainer}}
{{>modelInnerEnum}}
        {{/isContainer}}
        {{/items}}
    {{/items.isEnum}}
    {{>methodJavadoc}}
    {{>beanValidation}}
    {{#vendorExtensions.extraAnnotation}}
    {{{vendorExtensions.extraAnnotation}}}
    {{/vendorExtensions.extraAnnotation}}
    @javax.json.bind.annotation.JsonbProperty({{jsonbPropertyName}})
    public abstract {{{datatypeWithEnum}}} {{getter}}();

{{/vars}}
    public static class Builder extends Immutable{{classname}}.Builder {}

    public static Builder builder() {
        return new Builder();
    }
}
