{{#isQueryParam}}
        @javax.ws.rs.QueryParam("{{baseName}}")
        {{>beanValidationQueryParams}}
        {{^isContainer}}{{#defaultValue}} @javax.ws.rs.DefaultValue("{{{defaultValue}}}"){{/defaultValue}}{{/isContainer}}
        public {{{dataType}}} {{paramName}};

        {{>builderMethod}}
{{/isQueryParam}}